body {

    font-family: Arial, sans-serif;
    background-color:  #0b4988;
    opacity:  1;
    color: #ffffff;
    margin: 0;
    padding: 0;
}



.cv-container {
  width: 90%;
  max-width: 700px;
  margin: 40px auto;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  padding: 30px;
  }

  header {
    text-align: center;
    border-bottom: 2px solid #0078d7;
    padding-bottom: 2px;

    flex: column;
    justify-content: space-between;
    margin-bottom: 1rem

  }

   

  .FOTO {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 4px solid #ffffff;
    margin-bottom: 20px;


  }


ul {
  
  list-style-type: none;
  margin: 0;
  padding: 0;
  }

  .info {
    background-color: #dddddd;
    color: black;
    text-align:center;
    margin: 25px;
    width: 50%;
    height: 50%;
    border-radius: 35px;
    border: 9px solid #687580;
    padding: 5px;

  }

  .habilidades {
    background-color: #dddddd;
    color: black;
    text-align:center;
    margin: 25px;
    width: 50%;
    height: 50%;
    border-radius: 35px;
    border: 9px solid #687580;
    padding: 5px;

  }

  .experiencia {
    background-color: #dddddd;
    color: black;
    text-align:center;
    margin: 25px;
    width: 50%;
    height: 50%;
    border-radius: 35px;
    border: 9px solid #687580;
    padding: 5px;

  }

  .educacion {
    background-color: #dddddd;
    color: black;
    text-align:center;
    margin: 25px;
    width: 50%;
    height: 50%;
    border-radius: 35px;
    border: 9px solid #687580;
    padding: 5px;
  

  }


  


