body {
    font-family: Arial, sans-serif;
    background-color:  #e9eff5;
    color: #333;
    margin: 0;
    padding: 0;
}

.cv-container {
    width: 90%;
  max-width: 700px;
  margin: 40px auto;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  padding: 30px;
  }

  header {
    text-align: center;
    border-bottom: 2px solid #0078d7;
    padding-bottom: 20px;

    flex: column;
    justify-content: space-between;
    margin-bottom: 1rem

  }

  .FOTO {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid #0078d7;
    margin-bottom: 20px;

  }


  


