body {

    font-family: Arial, sans-serif;
    background-color:  #0b4988;
    opacity:  1;
    color: #ffffff;
    margin: 0;
    padding: 0;

   background-repeat: no-repeat;
   background-size: cover;



}



.cv-container {
  width: 90%;
  max-width: 700px;
  margin: 40px auto;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  padding: 30px;


  }

  header {
    background-color: rgb(0, 0, 0);
    text-align: center;
    margin-bottom: 10px;

    border-bottom: 2px solid #ffffff;
    padding-bottom: 2px;

    flex: column;
    justify-content: space-between;
    margin-bottom: 1rem

  }

   

  .FOTO {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 4px solid #ffffff;
    margin-bottom: 20px;


  }


  .fondo {
    background-image: url('imagen/fondo.webp');

    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;


  
  }




ul {
  
  list-style-type: none;
  margin: 0;
  padding: 0;
  }

  .info {
    background-color: #dddddd;
    color: black;
    text-align:center;
    margin: 25px;
    width: 25%;
    height: 50%;
    border-radius: 35px;
    border: 5px solid #687580;
    padding: 5px;

    flex-grow: 1;
    flex-basis: 200px;

   
    
  }

  .habilidades {
    background-color: #dddddd;
    color: black;
    text-align:center;
    margin: 25px;
    width: 25%;
    height: 50%;
    border-radius: 35px;
    border: 5px solid #687580;
    padding: 5px;


    flex:content;
    justify-content: space-between; 
    margin-bottom: 1rem

  }

  .experiencia {
    background-color: #dddddd;
    color: black;
    text-align:center;
    margin: 25px;
    width: 25%;
    height: 50%;
    border-radius: 35px;
    border: 5px solid #687580;
    padding: 5px;
  }

  .educacion {
   
    background-color: #dddddd;
    color: black;
    text-align:center;
    margin: 25px;
    width: 25%;
    height: 50%;
    border-radius: 35px;
    border: 5px solid #687580;
    padding: 5px;


  

  }


  


